.container {
    padding: 80px;
    margin: auto;
}

.box {
    border-radius: 5px;
    margin: auto;
    padding: 80px;
    width: 400px;
    height: 250px;
    background-color: white;
    display: flex;
    flex-flow: row wrap;
}

p {
    text-align: center;
}

p::before {
    display: inline-block;
    vertical-align: top;
    content: "\201C";
    font-size: 800%;
    line-height: 1rem;
}

#btn {
    padding: 10px;
    color: white;
    width: fit-content;
    height: fit-content;
}